
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daxx App</title>

    <link href="bower_components/normalize.css/normalize.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/css/main.css" rel="stylesheet">
</head>
<body>

<div class="container"></div>

<script type="text/template" id="statesTemplate">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">Search:</span>
                <input type="text" class="form-control" id="input-search">
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Postal code</th>
                    <th>State</th>
                </tr>
                <% _.each(states, function (state) { %>
                    <tr>
                        <td><%= state.abbreviation %></td>
                        <td><%= state.name %></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>
</script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/backbone/backbone-min.js"></script>

<script src="app/js/main.js"></script>
</body>
</html>